body {
  background-color: #fcf8e8;
  margin: 0;
  text-align: center;
  color: #df7861;
}
div {
  background-color: #fcf8e8;
  margin: 0;
}
h1 {
  margin-top: 0;
  font-size: 90px;
}
hr {
  border: dotted #ffe5b9 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #ef4f4f;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #c70039;
}

.topcont {
  background-color: #fcf8e8;
  font-family: 'Dancing Script', cursive;
  position: relative;
  padding-top: 100px;
  font-size: 28px;
}
.he2 {
  font-family: 'Dancing Script', cursive;
}
.desc {
  margin: auto ;
  width: 40%;
}





.middle-container {
  background-color: #fcf8e8;
}
.profile {
  background-color: #fcf8e8;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}




.bottom-container {
  background-color: #f1ae89;
  padding: 20px 0 10px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  font-size: 0.75rem;
}

/***************pictures***************/
.profilepic {
  height: 200px;
  width: 200px;
}
.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.game {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.draw {
  width: 25%;
  float: left;
  margin-right: 30px;
}

/***************BUTTON***************/

.btn {
   background: #F1AE89;
   background-image: -webkit-linear-gradient(top, #F1AE89, #EF4F4F);
   background-image: -moz-linear-gradient(top, #F1AE89, #EF4F4F);
   background-image: -ms-linear-gradient(top, #F1AE89, #EF4F4F);
   background-image: -o-linear-gradient(top, #F1AE89, #EF4F4F);
   background-image: -webkit-gradient(to bottom, #F1AE89, #EF4F4F);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   color: #FFE7F0;
   font-family: Arial;
   margin: 50px auto;
   width: 100px;
   font-size: 13px;
   font-weight: 100;
   padding: 0;
   -webkit-box-shadow: 1px 1px 9px 0 #000000;
   -moz-box-shadow: 1px 1px 9px 0 #000000;
   box-shadow: 1px 1px 9px 0 #000000;
   border: solid #D6337B 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: dotted #ED3396 1px;
   background: #FB4897;
   background-image: -webkit-linear-gradient(top, #FB4897, #F54AAA);
   background-image: -moz-linear-gradient(top, #FB4897, #F54AAA);
   background-image: -ms-linear-gradient(top, #FB4897, #F54AAA);
   background-image: -o-linear-gradient(top, #FB4897, #F54AAA);
   background-image: -webkit-gradient(to bottom, #FB4897, #F54AAA);
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   text-decoration: none;
}
